@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero-wrap" style="background-image: url('../images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home</a></span> <span>About Us</span></p>
                    <h1 class="mb-4 bread">Giới thiệu về chúng tôi</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Chào mừng bạn tới khách sạn Đưc Trọng</span>
                <h2 class="mb-4">Đến rồi chẳng muốn rời</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md pr-md-1 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-reception-bell"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Dịch vụ thân thiện</h3>
                    </div>
                </div>
            </div>
            <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services active py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-serving-dish"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Bữa sáng miễn phí</h3>
                    </div>
                </div>
            </div>
            <div class="col-md px-md-1 d-flex align-sel Searchf-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-car"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Dịch vụ trung chuyển</h3>
                    </div>
                </div>
            </div>
            <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-spa"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Dịch vụ SPA</h3>
                    </div>
                </div>
            </div>
            <div class="col-md pl-md-1 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-bed"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Phòng ấm cúng/h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-wrap-about ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-7 order-md-last d-flex">
                <div class="img img-1 mr-md-2 ftco-animate" style="background-image: url(../images/about-1.jpg);"></div>
                <div class="img img-2 ml-md-2 ftco-animate" style="background-image: url(../images/about-2.jpg);"></div>
            </div>
            <div class="col-md-5 wrap-about pb-md-3 ftco-animate pr-md-5 pb-md-5 pt-md-4">
                <div class="heading-section mb-4 my-5 my-md-0">
                    <span class="subheading">Đức Trọng Hotel</span>
                    <h2 class="mb-4">Nơi nghỉ dưỡng cho tất cả mọi người</h2>
                </div>
                <p>Khách sạn chúng tôi cung cấp nhiều loại phòng phù hợp với mọi nhu cầu của quý khách, từ phòng Deluxe thoải mái và sang trọng đến các căn Suite rộng rãi và đẳng cấp. Mỗi phòng đều được thiết kế và trang trí một cách tinh tế, với đầy đủ tiện nghi hiện đại và view tuyệt vời hướng ra thành phố hoặc cảnh đẹp xung quanh. </p>
                <p><a asp-controller="Home" asp-action="Reserved" class="btn btn-secondary rounded">Đặt phòng ngay</a></p>
            </div>
        </div>
    </div>
</section>

<section class="testimony-section">
    <div class="container">
        <div class="row no-gutters ftco-animate justify-content-center">
            <div class="col-md-5 d-flex">
                <div class="testimony-img aside-stretch-2" style="background-image: url(../images/testimony-img.jpg);"></div>
            </div>
            <div class="col-md-7 py-5 pl-md-5">
                <div class="py-md-5">
                    <div class="heading-section ftco-animate mb-4">
                        <span class="subheading">Đánh giá</span>
                        <h2 class="mb-0">Khách hàng vui vẻ</h2>
                    </div>
                    <div class="carousel-testimony owl-carousel ftco-animate">
                        <div class="item">
                            <div class="testimony-wrap pb-4">
                                <div class="text">
                                    <p class="mb-4">Không gian nhà hàng cũng rất tuyệt vời, với các món ăn ngon và đa dạng, cùng với không gian ấm cúng và lịch sự. Tôi chắc chắn sẽ quay lại khách sạn này trong các chuyến đi sau và khuyên bảo cho bất kỳ ai đang tìm kiếm một trải nghiệm nghỉ ngơi tuyệt vời.</p>
                                </div>
                                <div class="d-flex">
                                    <div class="user-img" style="background-image: url(../images/person_1.jpg)">
                                    </div>
                                    <div class="pos ml-3">
                                        <p class="name">Gerald Hodson</p>
                                        <span class="position">Businessman</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap pb-4">
                                <div class="text">
                                    <p class="mb-4">Tôi vừa trải qua một kỳ nghỉ tuyệt vời tại khách sạn này và tôi không thể không chia sẻ cảm nhận của mình. Đầu tiên, không gian của khách sạn rất sang trọng và thoải mái, từ phòng ngủ đến các khu vực chung. Phục vụ tại đây thực sự xuất sắc, đội ngũ nhân viên thân thiện và luôn sẵn lòng giúp đỡ, tạo cảm giác như đang được chăm sóc một cách đặc biệt. Ngoài ra, tôi rất ấn tượng với dịch vụ tiện ích, đặc biệt là quầy đồ ăn phục vụ 24 /7, mang lại sự tiện lợi và thoải mái tuyệt vời cho việc dạo chơi cả ngày.</p>
                                </div>
                                <div class="d-flex">
                                    <div class="user-img" style="background-image: url(../images/person_2.jpg)">
                                    </div>
                                    <div class="pos ml-3">
                                        <p class="name">Gerald Hodson</p>
                                        <span class="position">Businessman</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap pb-4">
                                <div class="text">
                                    <p class="mb-4">Dịch vụ tại đây thực sự xuất sắc. Đội ngũ nhân viên rất chuyên nghiệp, thân thiện và luôn sẵn lòng giúp đỡ. Tôi cảm thấy được chăm sóc một cách tận tình và chu đáo từ lúc đến và lúc rời khách sạn.</p>
                                </div>
                                <div class="d-flex">
                                    <div class="user-img" style="background-image: url(../images/person_3.jpg)">
                                    </div>
                                    <div class="pos ml-3">
                                        <p class="name">Gerald Hodson</p>
                                        <span class="position">Businessman</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap pb-4">
                                <div class="text">
                                    <p class="mb-4">Dịch vụ tại đây thực sự xuất sắc. Đội ngũ nhân viên rất chuyên nghiệp, thân thiện và luôn sẵn lòng giúp đỡ. Tôi cảm thấy được chăm sóc một cách tận tình và chu đáo từ lúc đến và lúc rời khách sạn.</p>
                                </div>
                                <div class="d-flex">
                                    <div class="user-img" style="background-image: url(../images/person_4.jpg)">
                                    </div>
                                    <div class="pos ml-3">
                                        <p class="name">Gerald Hodson</p>
                                        <span class="position">Businessman</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="instagram ftco-section ftco-no-pb">
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Hình ảnh</span>
                <h2><span>Instagram</span></h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-12 col-md ftco-animate">
                <a href="../images/insta-1.jpg" class="insta-img image-popup" style="background-image: url(../images/insta-1.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="../images/insta-2.jpg" class="insta-img image-popup" style="background-image: url(../images/insta-2.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="../images/insta-3.jpg" class="insta-img image-popup" style="background-image: url(../images/insta-3.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="../images/insta-4.jpg" class="insta-img image-popup" style="background-image: url(../images/insta-4.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="../images/insta-5.jpg" class="insta-img image-popup" style="background-image: url(../images/insta-5.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>