@model WebApplication1.Models.Userr
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
   
    function showpass() {
        var x = document.getElementById("pword1");
        var y = document.getElementById("pword2");
        var z = document.getElementById("pword3");

        if (x.type === "password") {
            x.type = "text";
            y.type = "text";
            z.type = "text";

        } else {
            x.type = "password";
            y.type = "password";
            z.type = "password";
        }
    }
    
</script>
<div class="hero-wrap" style="background-image: url('../images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home</a></span> <span>About Us</span></p>
                    <h1 class="mb-4 bread">Giới thiệu về chúng tôi</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center;justify-content:center;">

<h1>Đổi Mật Khẩu</h1>
    

<form method="post">
    <div style="display:grid;grid-template-columns:1fr 1fr">
    <div style="text-align:right">
        <label>ID tài khoản</label></div><div style="text-align:left">
        <input readonly asp-for="Userid" value="@Model.Userid" />
    </div>
        <div style="text-align:right">
            <label>Mật khẩu cũ</label>
        </div><div style="text-align:left">
        <input id="pword3" asp-for="Userpassword" type="password" />
    </div>
        <div style="text-align:right">
            <label>Mật khẩu mới</label>
        </div><div style="text-align:left">
            <input id="pword1" asp-for="Emailuser" type="password" /><i style="cursor:pointer" onclick="showpass()" class="fa-solid fa-eye"></i>

    </div>
        <div style="text-align:right">
            <label>Xác nhận mật khẩu</label>
        </div><div style="text-align:left">
            <input id="pword2" type="password" /><i style="cursor:pointer" onclick="showpass()" class="fa-solid fa-eye"></i>
    </div>
            </span>
        </div>
    <button type="submit">Đổi mật khẩu</button>
</form>

</div>