
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero-wrap" style="background-image: url('../images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home</a></span> <span>About Us</span></p>
                    <h1 class="mb-4 bread">Đặt lại mật khẩu</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center">
<h1>Đặt lại mật khẩu thành công</h1>

    @ViewBag.message
</div>