<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/6b11deb3-a539-48f4-82da-d9e3d766f1b0/resourceGroups/DucTrongHotel/providers/Microsoft.Web/sites/DucTrongHotel</ResourceId>
    <ResourceGroup>DucTrongHotel</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://ductronghotel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9644a303-011a-449e-b051-2a552955b7ed</ProjectGuid>
    <PublishUrl>https://ductronghotel.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DucTrongHotel</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>